@import "./settings/_settings";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Mukta:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  background-color: $c-gray-dark;
  color: $c-blue-dark;
  font-family: $font-one;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-block: 2rem 1rem;
  margin-inline: 0.5rem;
}

.about {
  margin-left: 10%;
}

p {
  font-family: $font-two;
  margin-bottom: 0.5rem;
  line-height: 170%;
  max-width: 75ch;
  font-size: 1rem;
  color: $c-blue-dark;
}

a {
  text-decoration: none;
  color: $c-red-dark;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    color: $c-red-light;
  }
}

.placeholder {
  text-align: center;
  grid-column: 1 / -1;

  p {
    margin: auto;
  }

  audio {
    margin-top: 1rem;
  }

  button {
    display: block;
    margin: auto;
    margin-top: 2rem;
    background-color: $c-red-dark;
    border-radius: 10px;
    padding: 8px;
    color: $c-yellow;
    border: 1px soild black;
    text-align: center;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}
