@import "./settings/__settings";

.logInModal {
  background-color: $c-gray-light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  input,a,form {
    display: block;
    margin: 0;
  }
  h2,h3 {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  h2 {
    float: left;
    text-decoration: underline;
  }
  h3 {
    float: right;
    opacity: 62%;
  }
  button {
    border: none;
  }
  form {
  
  }
  input {
    border: solid 0.5px $c-gray-dark;
    border-radius: 5px;
    color: $c-gray-dark;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  a {
    
  }
  .forgotPasswordLink {
    color: $c-blue-dark;
    font-size: 1rem;
    font-weight: 400;
    float: right;
    margin-top: 0.5rem;
  }
  .continueButton {
    background-image: linear-gradient($c-red-dark, $c-red-light);
    border-radius: 5px;
    color: $c-gray-light;
    display: block;
    font-size: 1.25rem;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0.75rem 1.25rem;
  }
  .backLink {
    color: $c-blue-dark;
    font-size: 1.25rem;
    text-align: center;
  }
}
